@using Microsoft.AspNetCore.Identity
@using BugTracker.Services
@inject UserManager<BTUser> userManager
@inject IBTRoleService roleService

@{
    var users = new MultiSelectList(userManager.Users, "Id", "FullName");
    var roles = new SelectList(roleService.NonDemoRoles(), "Name", "Name");
}

<div class="card">
    <div class="card-body">
        <form asp-action="AdminDashboard" method="post">
            <div class="row">
                <div class="col">
                    <label for="userIds" class="control-label">Employee (You can choose multiple)</label>
                    <select class="custom-select" name="userIds" style="width: 100%" multiple="multiple" asp-items="@users"></select>
                </div>
                <div class="col">
                    <label for="roleName" class="control-label">Role</label><br />
                    <select class="form-control" name="roleName" asp-items="@roles"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-9"></div>
                <div class="col-3">
                    <button type="submit" class="btn btn-info btn-lg btn-block mt-3">Save Changes</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Managment/Roles
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="recent-orders" class="table table-bordered table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Employee</th>
                                        <th scope="col">Role</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var user in userManager.Users.ToList())
                                    {
                                        <tr>
                                            <td>@user.FullName</td>
                                            <td>@((await roleService.ListUserRolesAsync(user)).FirstOrDefault())</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



