@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>


    <!--- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Alphine</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="~/css/landCSS/base.css">
    <link rel="stylesheet" href="~/css/landCSS/layout.css">

    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Favicons
     ================================================== -->
    <link rel="shortcut icon" href="favicon.ico">


</head>

<body data-spy="scroll" data-target="#nav-wrap">


    <!-- Intro Section
    ================================================== -->
    <section id="intro">

        <!-- Flexslider Start-->
        <div id="intro-slider" class="flexslider">

            <ul class="slides">

                <!-- Slide -->
                <li>
                    <div class="row">
                        <div class="col full">
                            <div class="slider-text">
                                <h2>
                                    Hello, we are <span>Alphine</span>. We are an online issue tracking software application that is
                                    functional and effective for both large and small businesses.
                                </h2>
                                <p>
                                    Local development was built on PostgresSQL 13 managed with PGAdmin 4 v4.
                                    Production version uses Heroku with PostgresSQL 13 managed with PGAdmin 4 v4.
                                </p>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- Slide -->
                <li>
                    <div class="row">
                        <div class="col full">
                            <div class="slider-text">
                                <h2>
                                    This application was built using C# ASP.NET 5 Core using
                                    both the MVC and MVVM design patterns. The front end is a Bootstrap 4 template
                                </h2>
                                <p>
                                    Local development was built on PostgresSQL 13 managed with PGAdmin 4 v4.
                                    Production version uses Heroku with PostgresSQL 13 managed with PGAdmin 4 v4.
                                </p>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- Slide -->
                <li>
                    <div class="row">
                        <div class="col full">
                            <div class="slider-text">
                                <h2>
                                    Take a look at some of <a href="//johndevportfolio.netlify.app" target="_blank" title="">our works</a>
                                    or <span>get in touch</span> to discuss how we can help you.
                                </h2>
                                <p>
                                    Local development was built on PostgresSQL 13 managed with PGAdmin 4 v4.
                                    Production version uses Heroku with PostgresSQL 13 managed with PGAdmin 4 v4.
                                </p>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
        <!-- Flexslider End-->

    </section>
    <!-- Intro Section End-->
    <!-- Call-to-Action Section
     ================================================== -->
    <section id="call-to-action">

        <div class="row">

            <div class="col three-fourths">

                <h2>Login/Register</h2>
                <p>
                    Sign in to your account or register to create a new account.
                </p>
                <a class="button" asp-controller="Home" asp-action="Dashboard">Go To Dashboard</a>

            </div>

            <div class="col one-fourth action">

                <a asp-area="Identity" asp-page="/Account/Register" class="button " style="text-align: center; width: 100%">Register</a>

            </div>

            <div class="col one-fourth action">

                <a asp-controller="Home" asp-action="Dashboard" class="button" style="text-align: center; width: 100%">Login</a>

            </div>

        </div>
    </section>
    <!-- Call-to-Action Section End-->
    <!-- Java Script
    ================================================== -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/landJS/jquery-1.10.2.min.js"><\/script>')</script>
    <script type="text/javascript" src="~/js/landJS/jquery-migrate-1.2.1.min.js"></script>

    <script src="js/scrollspy.js"></script>
    <script src="~/js/landJS/jquery.flexslider.js"></script>
    <script src="~/js/landJS/jquery.reveal.js"></script>
    <script src="~/js/landJS/init.js"></script>
    <script src="js/smoothscrolling.js"></script>

</body>

</html>



@*asp-area="Identity" asp-page="/Account/Login"*@


<!-- Services Section
================================================== -->
<!--<section id="services">

    <div class="row section-head">

        <div class="col one-third">
                <h2>Dashboard</h2>
                <a class="button" asp-controller="Home" asp-action="Dashboard">Go To Dashboard</a>
            </div>

        <div class="col two-thirds">
            <div class="intro">
                <p>
                    Alphine is an online issue tracking software application that is
                    functional and effective for both large and small businesses.
                    This application was built using C# ASP.NET 5 Core using
                    both the MVC and MVVM design patterns. The front end is a Bootstrap 4 template

                    Local development was built on PostgresSQL 13 managed with PGAdmin 4 v4.
                    Production version uses Heroku with PostgresSQL 13 managed with PGAdmin 4 v4.
                </p>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="services-wrapper">-->
@*<div class="col">
        <h2><i class="icon-desktop"></i>Webdesign</h2>
        <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
            deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
            At vero eos et accusamus et molestias iusto odio dignissimos.
        </p>
    </div>*@
<!--</div>-->
<!-- Services-Wrapper End -->
<!--</div>-->
<!--end row -->
<!--</section>-->
<!-- Services Section End -->