@using Microsoft.AspNetCore.Identity
@using BugTracker.Services
@inject UserManager<BTUser> userManager
@inject IBTRoleService roleService

@{
    var users = new MultiSelectList(userManager.Users, "Id", "FullName");
    var roles = new SelectList(roleService.NonDemoRoles(), "Name", "Name");
}

<form asp-action="ManageRoles" method="post">
    <div class="row">
        <div class="col">
            <label for="userIds" class="control-label">Employee (You can choose multiple)</label>
            <select class="custom-select" name="userIds" style="width: 100%" multiple="multiple" asp-items="@users"></select>
        </div>
        <div class="col">
            <label for="roleName" class="control-label">Role</label><br />
            <select class="form-control" name="roleName" asp-items="@roles"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-4 offset-4">
            <button type="submit" class="btn btn-info btn-lg mt-3">Save Changes</button>
        </div>
    </div>
</form>
<hr />

<div class="card">
    <div class="card-body">
        <h6 class="card-title">Managment/Roles</h6>
        <div class="table-responsive">
            <table id="recent-orders" class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Employee</th>
                        <th scope="col">Role</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in userManager.Users.ToList())
                    {
                        <tr>
                            <td>@user.FullName</td>
                            <td>@((await roleService.ListUserRolesAsync(user)).FirstOrDefault())</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
